.Main_chat
  .group-info
    .group-info__list
      .group-info__list__groupname
        = @group.name
      .group-info__list__member
        Member：
        %ul
        - @group.users.each do |user|
          %li= user.name
    .group-info__edit
      = link_to edit_group_path(current_user),class: "edit__btn" do
        Edit
  .message-list
    = render partial: 'message', collection: @messages
  .message-form
    = form_with model: [@group, @message], class: 'message-form', local: true do |f|
      .message-form__input
        = f.text_field :content, class: 'message-form__input', placeholder: 'type a message'
        = f.label :image, class: 'message-form__input__image' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'message-form__send'